<form class="form-group" [formGroup]="FormClassStudent" (ngSubmit)="inscrire()">
    <h2>Inscription</h2>
<div class="row">
    <div class="col col-md-6">
        <label class="label">Date début</label>
        <input class="form-control" type="date" formControlName="dateDebut">
    </div>
    <div class="col col-md-6">
        <label class="label">Date fin</label>
        <input class="form-control" type="date" formControlName="dateFin">
    </div>

</div>
<div class="row">
    <div class="col col-md-6">
        <label class="label">Niveau</label>
        <select (change)="onChangeNiveau($event)" class="form-select" aria-label="Default select example">
            <option selected>Choisir le niveau</option>
            <option *ngFor="let niveau of niveax" id="niveauId"  [value]="niveau.id">{{niveau.libelle}}</option>
          </select>
    </div>
    <div class="col col-md-6">
        <label class="label">Classe</label>
        <select class="form-select" (change)="onChangeClasse($event)" aria-label="Default select example">
            <option selected>Choisir la classe</option>
            <option *ngFor="let classe of classes" id="classeId" [value]="classe.id" >{{classe.name}}</option>
          </select>
    </div>
    
</div>
<button class="btn" type="submit">Terminer insription</button>
</form>