<div class="container mt-5">
    <h1>Add Professor</h1>
    <form  (ngSubmit)="addProfessor()" [formGroup]="professorForm">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName"  >
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" >
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" formControlName="dateOfBirth" >
      </div>
      <div class="mb-3">
        <label for="place" class="form-label">Place of Birth</label>
        <input type="text" class="form-control" formControlName="place" >
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" >
      </div>
      <div class="mb-3">
        <label for="mobile" class="form-label">Mobile Number</label>
        <input type="tel" class="form-control" formControlName="mobile" >
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-select" formControlName="gender">
          <option value="">Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" formControlName="address"  rows="3" ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Professor</button>
    </form>
  </div>
