<h1>Liste des classes</h1>
<button type="button" class="btn btn-success" (click)="goAdd()">Ajouter classe</button>
<button type="button" class="btn btn-primary" (click)="goLevel()">Gestion des niveaux</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Ord</th>
        <th scope="col">Libelle</th>
        <th scope="col">Niveau</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classe of classes;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{classe.name}}</td>
        <td>{{classe.niveauId}}</td>
        <td><button (click)="goUpdate(classe)">update</button> <button (click)="deleteClasse(classe)">delete</button></td>
      </tr>
    </tbody>
  </table>