<div class="container">
<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button"(click)="goToList()" >Liste des étudiants</button>
      <button type="button" class="btn btn-outline-primary" (click)="goToAdd()">Ajouter un étudiant</button>
      <button type="button" class="btn btn-outline-secondery"(click)="goToDiscipline()">Discipline des étudiants</button>
      <button type="button" class="btn btn-outline-secondery"(click)="goToSchools()">Gestion des ecoles etrangeres</button>
      
    </form>
  </nav>
  <router-outlet></router-outlet>

</div>